.header-btn-box {
  margin-left: 30px;
}
.header-btn-box > button:nth-of-type(n + 2) {
  margin-left: 10px;
}
.header-container {
  background: #33363c;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-menu-box {
  margin-left: auto;
}
.header-auth-box > button:nth-of-type(n + 2) {
  margin-left: 10px;
}
.header-auth-btn {
  padding: 0;
  border: 0;
  background: #fff;
  display: flex;
  align-items: center;
}
.header-auth-btn > svg {
  margin-right: 5px;
}
.header-auth-btn:hover,
.header-auth-box:focus {
  color: #0b5ed7 !important;
  text-decoration: underline;
}
